# This is Git's per-user configuration file.
[user]
	name = boxnos
	email = boxnos@yahoo.com
[core]
	editor = vim
[alias]
	graph = log --graph --abbrev-commit --decorate --stat --format=format:'%C(bold blue)%h%C(reset) - %C(dim white)- %an%C(reset) %C(white)%s%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)' --all
